.header-container {
    background-image: url("../../images/container-bg.png");
    border-radius: 10px 0px 0px 0px;
    display: flex;
    align-items: center;
    padding: 10px 20px;

    .logo {
        margin-right: 55px;
        width: 180px;
        height: 88px;
    }
    .logo-end {
        margin-left: auto;
    }
}