.hero {
        .hero-container {
            background-image: url("../../images/container-bg.png");
            border-radius: 0px 0px 10px 0px;
            padding: 100px 35px 200px 35px;
            display: flex;
            align-items: center;
            position: relative;
        
            .hero-left {
                color: rgb(201, 195, 195);
                text-align: center;
                width: 500px;
                
                .hero-bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                
        
                h2,p {
                    margin-bottom: 20px;
                }
        
                p {
                    font-size: 12px;
                }
                
        
        
                .button-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin: 0 auto;
                    justify-content: center;
                }
                button {
                    background-color: red;
                    color: white;
                    padding: 20px 30px;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all .3s ease;
        
                }
        
                button:hover{
                    box-shadow: rgb(255, 0, 0) -5px 0px 10px 0px, rgb(255, 0, 0,) -5px 0px 30px 10px;
                    transition: all .3s ease;
                }
        
        
            }
        
            .hero-right {
                img {
                    position: absolute;
                    top: -50px;
                    right: -80px;
                    width: 690px;
                    height: 543px;
                }
            }
        }
        
}

